@model string 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model</h1>
    <h2>Soy un desarrollador Full Stack especializado en tecnologías .NET</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto mia" />
</div>
